/* ---------- GENERAL ---------- */
* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: border-box;
}

.radioLeft input{
    text-align: left;
    display:inline;
}

body {
  background: #eaeaea;
  color: #282830;
  font: 700 18px/1.5em sans-serif;
  margin: 0;
}

h3 {
  margin: 0;
}

a {
  font-weight:bold;
  color: #1dabb8;
  text-decoration: none;
}

a:hover {
  color: #1dabb8;
}

table {
  table-layout:fixed;
}

fieldset {
  border: none;
  margin: 0;
}

td {
  text-align: center;
  vertical-align: middle;
}

.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.boldtd{
  font-weight:bold;
}

.boldtr{
  font-size:20px;
  font-weight:bold;
}

#setting-div{
  width: 500px;
}

#setting-div h3 {
  background-color: #282830;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 14px;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}

#setting-div fieldset {
  background: #fff;
  border-radius: 0 0 5px 5px;
  padding: 20px;
  position: relative;
}

#setting-div fieldset:before {
  background-color: #fff;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

#setting-div button {
    background: #1dabb8;
    border-radius: 3px;
    color: #fff;
    float: right;
    font-weight: bold;
    padding: 10px 10px;
}

#setting-div button:hover {
  background: #198d98;
}

#setting-div footer {
  font-size: 12px;
  margin-top: 16px;
}

.info {
  background: #e5e5e5;
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin: 0 10px 0 0;
  text-align: center;
  width: 20px;
}

